<h5>{{ log_message }}</h5>
<div class="progress progress-striped progress-success active ">	
		<div role="status" aria-live="assertive" aria-relevant="all" class="bar" style="width: {{ progress }}%;"></div>
</div>