<div class="fixed-page-margin">
	<iframe scrolling="no" 
			frameborder="0" 
			marginwidth="0" 
			marginheight="0" 
			width="{{ width }}px" 
			height="{{ height }}px" 
			src="{{ uri }}"
			title="{{ data.title }}"
			class='content-sandbox'>
	</iframe>
</div>