<div id='empty-message'>
	<p id='empty-message-text' class='green'>
		{{fetchInzMessage "i18n_add_items"}}
	</p>
	<img id='empty-arrow' src='/images/library/empty_library_arrow.png' alt='Try adding an ePUB' />
</div>