<div id="flowing-wrapper">
	<iframe scrolling="no" 
			frameborder="0" 
			marginwidth="0" 
			marginheight="0" 
			width="50%" 
			height="100%" 
			title="{{ data.title }}"
			src="{{ uri }}"
			id="readium-flowing-content">
	</iframe>
</div>