<div id="scrolling-content" class="scrolling-page-wrap">
	<div class="scrolling-page-margin">

		<iframe scrolling="yes" 
				frameborder="0" 
				marginwidth="0" 
				marginheight="0" 
				width="100%" 
				height="100%" 
				title="{{ data.title }}"
				src="{{ uri }}"
				class='content-sandbox'>
		</iframe>
	</div>
</div>