/*.apple-fixed-layout*/

#readium-right-content {
	height: 100%;
	width: 100%;
	
}

.invisible {
	visibility: hidden;
	z-index: 0;
}

.fixed-page-wrap {
	position: absolute;
	left: 25%;
	overflow: hidden; 
	@include box-shadow(0 0 5px 5px rgba(80,80,80,0.5));
	background-color: #FFF;
}

.apple-fixed-layout #spine-divider {
	    position: absolute;
	    top: 0;
	    left: 50%;
	    height: 100%;
	    margin: 0;
	    width: 1px;
	    @include box-shadow(0 0 15px 3px rgba(5, 5, 5, 0.7));
		display: none;
		background-color: #444;
		opacity: 0.6;
		z-index: 10;
	
}

.two-up{

	.fixed-page-wrap {
		width: 50%;
	}

	.fixed-page-wrap.right_page { 
		left: 50%;
	}

	.fixed-page-wrap.left_page  { 
		left: 0%;
	}

	.fixed-page-wrap.center_page  { 
		z-index: 11;
	}

}



.apple-fixed-layout #readium-book-view-el {
	//margin: auto;
}