#readium-info {
	text-align: center; 
	padding: 30px;

	@include linear-gradient(top, #CCCCCC, #FFFFFF);

	#version-info, .green, .modal-detail.green {
		color: #6FA64D;
	}

	p {
		margin: 0;
		margin-bottom: 15px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 13px;
		line-height: 18px;
		color: #333;
		text-align: center;
	}

	div {
		text-align: center;
	}

	h3 {
		line-height: 27px;
		font-size: 18px;
		font-weight: bold;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		margin: 0;
		text-rendering: optimizelegibility;
		display: block;
	}

}