#regions-not-available {
	padding: 10px;
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 18px;
	font-weight: normal;

	div {
		margin: 10px;
	}

	strong {
		font-weight: bold;
	}

	code {
		color: #111111;
		background-color: white;
		border: 1px solid #B94A48;
		padding: 2px 5px;
		@include border-radius(3px);
	}

	li {
		margin: 10px 0px;
	}
}