/**************** THE TOC PANEL ************************/

#readium-toc {
	position: absolute;
	width: 30%;
	@include linear-gradient(top, #EEEEEE, #DDDDDD);
	top: 0;
	z-index: 999;
	bottom: 0;
	border-left: 1px solid #DDD;
	font-size: 0.8em;
	overflow: hidden;
	//border-right: 2px solid #999;
	@include box-shadow(10px 0px 11px rgba(100, 100, 104, 0.35));
	ol { 
		padding-left: 1.5em; 
	}
}

#toc-body, #toc-header {
	margin-right: 10px;
	border-right: 1px solid #CCC;
}

#toc-header {
	height: 50px;
	border-bottom: 1px solid #CCC;

	#close-toc-button {
		height: 36px;
		width: 36px;
		background-image: url($readium_image_path + 'toc/ico_close.png');
		display: inline-block;
		position: absolute;
		right: 17px;
		top: 6px;
		@include user-select(none);
	}
}

#toc-body {
	overflow: scroll;
	height: 100%;
}

#toc-end-spacer {
	height: 70px;
}

#readium-toc li {
	text-align: left;
	margin: 5px;
	list-style: none;

	a {
		text-decoration: none;
		color: #111111;
		font-size: 15px;
	}
}

.show-readium-toc {
	#readium-right-content {
		width: 70%;
		float: right;
		display: inline-block;
	}

	#prev-page-button {
		left: 30%;
	}
}

#s2id_page-list-select {
	margin: 20px;
	width: 200px;
}