#viewer-settings-modal {
	text-align: center;
	width: 352px;
	margin: -326px 0 0 -176px;
	@include linear-gradient(top, #FFFFFF, #CCCCCC);
	line-height: 1em;

	.clickable {
		@include user-select(none);
		&:hover {
			cursor:pointer;
		}
	}

	#preview-text {
		border: 1px solid #777;
		@include border-radius(2px);
		padding: 5px;
		height: 80px;
		overflow: hidden;
		text-align: left;
	}

	.setting-header {
		text-align: left;
		font-family: Helvetica,Arial,sans-serif;
		font-size: 12px;
		color: #777;
		margin: 12px 0px;
		padding: 0px;
	}

	#settings-margin {
		padding: 20px;
	}

	#font-size-icon {
		background-image: url($readium_image_path + 'settings_modal/settings_fontsize.png');
		width: 37px;
		height: 32px;
		display: inline-block;
		float: left;
	}

	#font-size-input {
		float: right;
		width: 253px;
		margin-top: 7px;

	}

	#margin-radio-wrapper {
		width: 312px;
		height: 63px;
		position: relative;
		left: 0px;
		top: 0px;
	}

	.margin-radio {
		display: inline-block;
		position: absolute;
		width: 43px;
		height: 63px;
		margin: 0;
		padding: 0;
		background-repeat: no-repeat;
		@include user-select(none);
	}

	#margin-option-1 {
		background-image: url($readium_image_path + 'settings_modal/margin1_off.png');
		left: 0px;
		&.selected {
			background-image: url($readium_image_path + 'settings_modal/margin1_on.png');
		}
	}

	#margin-option-2 {
		background-image: url($readium_image_path + 'settings_modal/margin2_off.png');
		left: 67px;
		&.selected {
			background-image: url($readium_image_path + 'settings_modal/margin2_on.png');
		}
	}

	#margin-option-3 {
		background-image: url($readium_image_path + 'settings_modal/margin3_off.png');
		left: 134px;
		&.selected {
			background-image: url($readium_image_path + 'settings_modal/margin3_on.png');
		}
	}

	#margin-option-4 {
		background-image: url($readium_image_path + 'settings_modal/margin4_off.png');
		left: 201px;
		&.selected {
			background-image: url($readium_image_path + 'settings_modal/margin4_on.png');
		}
	}

	#margin-option-5 {
		background-image: url($readium_image_path + 'settings_modal/margin5_off.png');
		right: 1px;
		&.selected {
			background-image: url($readium_image_path + 'settings_modal/margin5_on.png');
		}
	}

	.simple-radio {
		font-family: Helvetica,Arial,sans-serif;
		color: #111;
		background-repeat: no-repeat;
		padding-left: 20px;
		background-position: 0px 0px;
		background-image: url($readium_image_path + 'settings_modal/radiobutton_off.png');
		font-size: 15px;
		font-weight: 400;
		&.selected {
			background-image: url($readium_image_path + 'settings_modal/radiobutton_on.png');
		}

	}

	#two-up-options {
		text-align: left;
		.simple-radio {
			margin-right: 35px;
		}
	}

	.theme-option {
		display: block;
		text-align: left;
		@include border-radius(4px);
		border: 1px solid #777;
		padding: 3px;
		margin-bottom: 10px;
	}

	#settings-form-footer {
		background-color: #000;
		padding: 5px 10px;
		@include linear-gradient(top, #444, #222);
		button {
			width: 135px;
			margin: 5px;
			padding: 5px;
		}
	}
		
}