/*.apple-fixed-layout*/
.invisible {
  visibility: hidden;
  z-index: 0; }

.fixed-page-wrap {
  position: absolute;
  left: 25%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px 5px rgba(80, 80, 80, 0.5);
  background-color: #FFF; }

.apple-fixed-layout #spine-divider {
  height: 100%;
  top: 0; }

.two-up .fixed-page-wrap {
  width: 50%; }

.two-up .fixed-page-wrap.odd {
  left: 50%; }

.two-up .fixed-page-wrap.even {
  left: 0%; }

body.apple-fixed-layout {
  height: 100%;
  width: 100%;
  overflow: scroll; }

.apple-fixed-layout #readium-book-view-el {
  margin: auto; }
