/*
Syntax error: Undefined mixin 'user-select'.
        on line 50 of css/sass/nav_widget.scss, in `user-select'
        from line 50 of css/sass/nav_widget.scss

45: }
46: 
47: 
48: /* stop buttons from highlighting on double click */
49: #settings, #settings span, #settings img {
50: 	@include user-select(none);
51: }
52: 
53: #settings {
54: 	@include linear-gradient(top, #353F5E, #000011);
55: }

Backtrace:
css/sass/nav_widget.scss:50:in `user-select'
css/sass/nav_widget.scss:50
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/engine.rb:246:in `render'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `each'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:272:in `block (4 levels) in watch'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/path.rb:73:in `call'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/path.rb:73:in `run_callback'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/path.rb:55:in `callback_action'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/path.rb:35:in `update'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:37:in `each'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:37:in `modified'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/state/directory.rb:18:in `refresh'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:17:in `each'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:15:in `loop'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/backends/polling.rb:15:in `run'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm/monitor.rb:26:in `run'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/fssm-0.2.8.1/lib/fssm.rb:70:in `monitor'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:265:in `watch'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/plugin.rb:107:in `method_missing'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/exec.rb:431:in `watch_or_update'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/exec.rb:302:in `process_result'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/exec.rb:41:in `parse'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/lib/sass/exec.rb:21:in `parse!'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290@readium/gems/sass-3.1.15/bin/sass:8:in `<top (required)>'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/bin/sass:19:in `load'
/Users/matthew/.rvm/gems/ruby-1.9.2-p290/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'user-select'.\A         on line 50 of css/sass/nav_widget.scss, in `user-select'\A         from line 50 of css/sass/nav_widget.scss\A \A 45: }\A 46: \A 47: \A 48: /* stop buttons from highlighting on double click */\A 49: #settings, #settings span, #settings img {\A 50: 	@include user-select(none);\A 51: }\A 52: \A 53: #settings {\A 54: 	@include linear-gradient(top, #353F5E, #000011);\A 55: }"; }
